<div class="relative bg-[#FCFBFC] min-w-[1200px] min-h-screen h-full w-full grid grid-cols-[auto_1fr]">
  <!--bg color-->
  <div class="w-[94px] xl:hidden">

  </div>
  <div class="select-none absolute xl:relative z-10 h-full min-h-[800px]">
    <div #bar
      class="overflow-hidden pt-[130px] sticky top-0 h-screen min-h-[600px] bg-[#2B2B2B] border-r-[#16223B33] rounded-tr-[8px] rounded-br-[8px]">
      <!-- 2B2B2B -->
      <div class="absolute top-5 cursor-pointer" [style]="butt" (click)="!working && animation(bar)">
        <svg width="20" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="30" height="4" fill="white" />
          <rect y="13" width="30" height="4" fill="white" />
          <rect y="26" width="30" height="4" fill="white" />
        </svg>
      </div>
      <div class="grid gap-3 py-6 px-[25px]" [style]="barActive ? 'grid-template-columns:50px;':''">
        <div *ngFor="let item of menu" class="flex justify-center items-center rounded-[16px] cursor-pointer text-[#999] transition-[background-color_0.3s]
         text-start text-[1rem] h-[50px] px-[15px] hover:bg-[#1c1c1c]" (click)="api.goToLink(item.path)"
          [style]="barActive ? 'aspect-ratio: 1/1;':''" [style]="isUrl(path,item.path,item.tags) ?active:''">
          <div class="w-full grid grid-cols-[20px_1fr] items-center gap-2"
            [style]="!working && barActive ? 'grid-template-columns:auto;justify-content: center;':''">
            <div>
              <img src="{{item.icon}}" class="w-[20px] aspect-square"
                [style]="isUrl(path,item.path,item.tags) ? 'filter: brightness(0) saturate(100%) invert(100%);' : ''">
            </div>
            <div [style]="barActive ? 'display: none;':''">
              <p class="w-full whitespace-nowrap">{{item.title}}</p>
            </div>
          </div>
        </div>
      </div>
      <div [style]="barActive ? 'grid-template-columns: 50px':''"
        class="absolute bg-[#2B2B2B] bottom-0 w-full h-[90px] grid grid-cols-[1fr_35px] justify-center items-center p-[20px]">
        <div [style]="barActive ? 'grid-template-columns: auto;':''"
          class="grid grid-cols-[40px_1fr] h-[60px] items-center gap-3">
          <div
            class="relative rounded-[50%] overflow-hidden aspect-square bg-[#E7E7E7] flex justify-center items-center">
            <img *ngIf="img_url" [src]="img_url"
              class="absolute min-h-[40px] min-w-[40px] object-contain left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]">
            <img *ngIf="!img_url" src="user_outline.svg" class="w-[20px] aspect-square">
          </div>
          <div [style]="barActive ? 'display: none;':''" class="text-[#F3F3F3] font-light w-full overflow-hidden">
            <p class="text-[14px] truncate overflow-hidden whitespace-nowrap w-full">{{username}}</p>
            <p class="text-[12px]">{{role}}</p>
          </div>

        </div>
        <div [style]="barActive ? 'display: none;':''" class="hover:bg-[#1c1c1c] p-2 rounded-[50%] cursor-pointer"
          (click)="logout()">
          <img src="logout.svg" class="w-[16px] aspect-square">
        </div>
      </div>
    </div>
  </div>
  <div class="flex-1 min-w-[900px] min-h-[800px]">
    <router-outlet></router-outlet>
  </div>
</div>