.expand {
    animation-name: animation-expand;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

@keyframes animation-expand {
    from {
        width: 94px;
    }

    to {
        width: 253px;

    }
}

.minimize {
    animation-name: animation-minimize;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}


@keyframes animation-minimize {
    from {
        width: 253px;
    }

    to {
        width: 94px;
    }
}