<div class="bg-[#FCFBFC] relative min-h-screen grid grid-cols-[auto_1fr] grid-rows-[auto]"><!--bg color-->
  <div class="relative w-[260px]">
    <div
      class="pt-[130px] sticky top-0 h-screen w-full bg-[#2B2B2B] border-r-[#16223B33] rounded-tr-[8px] rounded-br-[8px]">
      <!-- 2B2B2B -->
      <div class="grid gap-3 py-6 grid-rows-[repeat(10,50px)] p-3">
        <div *ngFor="let item of menu" class="dashboard-btn" (click)="api.goToLink(item.path)"
          [style]="isUrl(path,item.tags) ?active:''">
          <div class="dashboard-inner">
            <img src="{{item.icon}}" class="dashboard-img"
              [style]="isUrl(path,item.tags) ? 'filter: brightness(0) saturate(100%) invert(100%);' : ''">
            <p>{{item.title}}</p>
          </div>
        </div>
      </div>
      <div class="absolute bottom-0 w-full h-[80px] flex justify-center items-center p-[20px]">
        <div class="flex flex-1 h-[60px] items-center gap-3">
          <div
            class="relative rounded-[50%] overflow-hidden w-[40px] aspect-square bg-[#E7E7E7] flex justify-center items-center">
            <img *ngIf="img_url" [src]="img_url"
              class="absolute min-h-[40px] min-w-[40px] object-contain left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]">
            <img *ngIf="!img_url" src="user_outline.svg" class="w-[20px] aspect-square">
          </div>
          <div class="text-[#F3F3F3] font-light"><!-- F3F3F3 -->
            <p class="text-[14px]">{{username}}</p>
            <p class="text-[12px]">{{role}}</p>
          </div>
        </div>
        <div class="hover:bg-[#1c1c1c] p-2 rounded-[50%] cursor-pointer" (click)="logout()">
          <img src="logout.svg" class="w-[16px] aspect-square">
        </div>
      </div>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>