<div class="min-w-full min-h-full px-[48px] pb-[48px]">
    <div class="w-full h-[150px] grid items-center grid-cols-2">
        <div>
            <p class="text-[32px] font-bold">
                Event Management
            </p>
            <p class="text-[#1093ED] text-[16px] font-medium underline cursor-pointer"
                (click)="api.goToLink('/admin/event')">
                All Event
            </p>
        </div>
        <div class="h-[40px] flex gap-2 justify-end">
            <input type="button" class="text-white bg-[#1093ED] rounded-[12px] px-[32px] cursor-pointer" value="Save"
                (click)="submit()">
        </div>
    </div>
    <div class="rounded-[12px] border-[1px] overflow-hidden shadow-[0px_2px_4px_rgba(0,0,0,0.25)]">
        <div class="h-[65px] text-[18px] px-4 grid items-center font-semibold bg-[#EBF5FD]">
            General Information
        </div>
        <div
            class="min-h-[calc(100vh-215px)] grid grid-cols-[70%_1fr] gap-8 p-8 border-b-[1px] text-[16px] font-normal">
            <div class="flex flex-col gap-y-2">
                <div class="flex flex-col gap-y-2">
                    <label for="name">Event name</label>
                    <input type="text" id="name" placeholder="Name" [(ngModel)]="data.title"
                        class="w-full h-[40px] px-4 border-[#D9D9D9] border-[1px] rounded-[12px]">
                </div>
                <label for="Description">Description</label>
                <textarea id="Description" placeholder="Description" [(ngModel)]="data.description"
                    class="w-full h-full p-4 border-[#D9D9D9] border-[1px] rounded-[12px] resize-none"></textarea>
            </div>
            <div class="flex flex-col gap-y-2">
                <label for="upload">Upload Media</label>
                <div class="relative w-full h-full rounded-[12px] text-[#999] border-[#D9D9D9] border-[1px] transition">
                    <div class="grid gap-1 p-2">
                        <div *ngFor="let item of list_file;let i = index"
                            class="grid grid-cols-[40px_1fr_40px] gap-2 items-center px-2 rounded-[8px] border-[#D9D9D9] border-[1px] h-[48px] overflow-hidden">
                            <div class="relative bg-[#F2F2F4] w-[40px] aspect-square overflow-hidden">
                                <img [src]="item.realpath"
                                    class="absolute left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%] min-h-full min-w-full object-contain">
                            </div>
                            <div class="relative cursor-pointer overflow-hidden">
                                <label for="upload_{{i}}">
                                    <p
                                        class="text-[14px] w-full truncate overflow-hidden whitespace-nowrap cursor-pointer">
                                        {{item.file?.name||item.name || 'Filename'}}
                                    </p>
                                </label>
                                <input id="upload_{{i}}" type="file"
                                    class="absolute -z-10 inset-0 w-full h-full opacity-0"
                                    (change)="onFileChange($event,i)">
                            </div>
                            <div class="grid items-center cursor-pointer" (click)="deleteFile(i)">
                                <img src="delete.svg" class="w-[24px]">
                            </div>
                        </div>
                        <div
                            class="relative flex items-center gap-2 justify-center cursor-pointer rounded-[8px] border-[#D9D9D9] border-[1px] bg-[#F2F2F4] h-[48px]">
                            <label for="add_upload" class="flex items-center gap-2">
                                <img src="upload.svg" class="w-[16px]">
                                <p class="text-[12px]">Choose files</p>
                                <input type="file" id="add_upload"
                                    class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
                                    (input)="onFileSelected($event)">
                            </label>
                        </div>
                    </div>

                </div>
                <!-- <div
                    class="relative w-full aspect-[4/3] rounded-[12px] text-[#1093ED] hover:bg-gray-100 hover:text-[#999] border-[#D9D9D9] border-[1px] transition">
                    <label for="upload"
                        class="cursor-pointer select-none text-[42px] w-full aspect-[4/3] grid justify-center items-center grid-cols-1">
                        <img *ngIf="img_path" [src]="img_path" class="w-full aspect-[4/3] object-cover rounded-[12px]">
                        <p *ngIf="!img_path" class="text-center">+</p>
                    </label>
                    <input type="file" id="upload" class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
                        (change)="onFileSelected($event)">
                </div> -->
            </div>
            <div class="flex flex-col gap-y-2">
                <div class="flex gap-4">
                    <div class="flex-1 flex flex-col gap-y-2">
                        <label for="start-date">Start Date</label>
                        <input type="datetime-local" id="start-date" placeholder="20/01/2025"
                            [(ngModel)]="data.startDate"
                            class="w-full h-[40px] px-4 border-[#D9D9D9] border-[1px] rounded-[12px]">
                        <!-- {{ data.startDate | date : 'dd/MM/yyyy HH:mm' }} -->
                    </div>
                    <div class="flex-1 flex flex-col gap-y-2">
                        <label for="end-date">End Date</label>
                        <input type="datetime-local" id="end-date" placeholder="20/01/2025" [(ngModel)]="data.endDate"
                            class="w-full h-[40px] px-4 border-[#D9D9D9] border-[1px] rounded-[12px]">
                    </div>
                </div>
                <div class="flex flex-col gap-y-2">
                    <label for="map">Link google map</label>
                    <input type="text" id="map" placeholder="Link google map" [(ngModel)]="data.map"
                        class="w-full h-[40px] px-4 border-[#D9D9D9] border-[1px] rounded-[12px]">
                </div>
            </div>
            <div class="flex flex-col gap-y-2">
                <label for="point">Point</label>
                <input type="text" id="point" placeholder="300" [(ngModel)]="data.point" onclick="this.select()"
                    class="w-full h-[40px] px-4 border-[#D9D9D9] border-[1px] rounded-[12px]">
                <label for="point">Max Attendees</label>
                <input type="text" id="point" placeholder="500" [(ngModel)]="data.max_attendees" onclick="this.select()"
                    class="w-full h-[40px] px-4 border-[#D9D9D9] border-[1px] rounded-[12px]">
            </div>
        </div>
    </div>
</div>