<div class="min-w-full min-h-full px-[48px]">
    <div class="w-full h-[150px] grid items-center grid-cols-2">
        <div>
            <p class="text-[32px] font-bold">
                History
            </p>
            <p class="text-[#1093ED] text-[16px] font-medium underline">
                All History
            </p>
        </div>
        <div class="h-[40px] flex gap-2">
            <label for="search" class="relative flex-1">
                <img src="search.svg" class="absolute left-[16px] top-[50%] -translate-y-[50%] w-[20px] aspect-square">
                <input id="search" type="text" placeholder="Search" [(ngModel)]="search" (input)="list_Filter()"
                    class="pl-[50px] h-[40px] w-full min-w-[200px] rounded-[12px] border-[1px] border-[#D9D9D9]">
            </label>

            <img src="excel.svg" class="w-[40px] cursor-pointer" (click)="exportToExcel()">
        </div>
    </div>
    <div class="">
        <div
            class="my-container h-[56px] text-[18px] text-white font-semibold grid grid-cols-[80px_300px_1fr_80px_120px_200px] gap-4 rounded-tl-[12px] rounded-tr-[12px] bg-[#1093ED]">
            <div><input type="checkbox"></div>
            <div>User name</div>
            <div>Reward</div>
            <div class="justify-center">Quantity</div>
            <div class="justify-center">Used</div>
            <div class="justify-center">Date</div>
        </div>
        <div *ngFor="let item of data" class="my-container h-[56px] grid grid-cols-[80px_300px_1fr_80px_120px_200px] gap-4 hover:bg-[#EBF5FD]
        border-x-[1px] border-b-[1px] text-[16px] font-normal">
            <div><input type="checkbox"></div>
            <div class="font-semibold text-start grid-cols-[60px_1fr]">
                <div
                    class="relative rounded-[50%] overflow-hidden w-[40px] aspect-square bg-[#E7E7E7] flex justify-center items-center">
                    <img *ngIf="item.Profile.profile_img" [src]="getImg(item.Profile.profile_img)"
                        class="absolute min-h-[40px] min-w-[40px] object-contain left-[50%] top-[50%] -translate-x-[50%] -translate-y-[50%]">
                    <img *ngIf="!item.Profile.profile_img" src="user_outline.svg" class="w-[20px] aspect-square">
                </div>
                <div>
                    <samp class="text-[14px] font-semibold">
                        {{item.Profile.profile_name}}
                        <!-- {{item.Profile.first_name}} {{item.Profile.last_name}} -->
                    </samp>
                    <p class="text-[10px] font-normal w-full truncate overflow-hidden whitespace-nowrap">
                        {{item.Profile.contact_email}}
                    </p>
                </div>
            </div>
            <div>
                <p class="w-full truncate overflow-hidden whitespace-nowrap">
                    {{item.Reward.reward_name}}
                </p>
            </div>
            <div class="justify-center">
                <p class="w-full truncate overflow-hidden whitespace-nowrap">
                    {{item.quantity}}
                </p>
            </div>
            <div class="justify-center">
                <p class="w-full truncate overflow-hidden whitespace-nowrap">
                    {{item.usedCoints}}
                </p>
            </div>
            <div class="justify-center">
                <p class="w-full truncate overflow-hidden whitespace-nowrap">
                    {{item.createdAt | date : 'dd/MM/YYYY HH:mm' : tz}}
                </p>
            </div>
        </div>
        <div *ngIf="data.length != 0" class="flex h-[78px] px-5 justify-center items-center">
            <div class="flex-1 text-[16px]">
                <p>หน้า {{page_no+1}} จาก {{data_size}}</p>
            </div>
            <div class="flex gap-2 text-[14px] select-none text-[#999]">
                <img src="arrow-left.svg" (click)="updatePage(page_no-1)" class="cursor-pointer invert-[60%]">
                <div class="flex gap-1">
                    <div *ngFor="let num of getPageArray(); let i = index;" (click)="updatePage(num)"
                        [style]="num == page_no ? 'background-color: #1093ED;color:#fff':''" class="cursor-pointer grid justify-center items-center border-[1px] rounded-[4px] w-[28px] aspect-square
                        hover:bg-[#EBF5FD]">
                        <p>
                            {{num+1}}
                        </p>
                    </div>
                </div>
                <img src="arrow-right.svg" (click)="updatePage(page_no+1)" class="cursor-pointer invert-[60%]">
            </div>
        </div>
    </div>
</div>