<div class="relative min-w-full min-h-full px-[48px]">
    <div *ngIf="!routeScreen" class="w-full h-[150px] grid items-center grid-cols-2">
        <div>
            <p class="text-[32px] font-bold">
                Event Management
            </p>
            <p class="text-[#1093ED] text-[16px] font-medium underline">
                All Event
            </p>
        </div>
        <div class="h-[40px] flex gap-2">
            <label for="search" class="relative flex-1">
                <img src="search.svg" class="absolute left-[16px] top-[50%] -translate-y-[50%] w-[20px] aspect-square">
                <input id="search" type="text" placeholder="Search" [(ngModel)]="search" (input)="list_Filter()"
                    class="pl-[50px] h-[40px] w-full min-w-[200px] rounded-[12px] border-[1px] border-[#D9D9D9]">
            </label>
            <input type="button" (click)="api.goToLink('admin/event-update')"
                class="text-white bg-[#1093ED] rounded-[12px] px-[32px] cursor-pointer" value="Add Event">
        </div>
    </div>
    <div>
        <div
            class="container h-[56px] text-[18px] text-white font-semibold grid grid-cols-[80px_1fr_200px_200px_150px_140px] gap-4 rounded-tl-[12px] rounded-tr-[12px] bg-[#1093ED]">
            <div><input type="checkbox"></div>
            <div>Event</div>
            <div class="justify-center">Start Date</div>
            <div class="justify-center">End Date</div>
            <div class="justify-center">Participants</div>
            <div class="justify-center">Action</div>
        </div>
        <div *ngFor="let item of data;let i = index" class=" container h-[56px] grid
            grid-cols-[80px_1fr_200px_200px_150px_140px] gap-4 hover:bg-[#EBF5FD] border-x-[1px] border-b-[1px]
            text-[16px] font-normal">

            <div><input type="checkbox"></div>
            <div class="font-semibold text-start">
                <p class="w-full truncate overflow-hidden whitespace-nowrap">
                    {{item.title}}
                </p>
            </div>
            <div class="justify-center">
                <p class="w-full truncate overflow-hidden whitespace-nowrap">
                    {{item.startDate | date : 'dd-MM-YYYY HH:mm' : tz}}
                </p>
            </div>
            <div class="justify-center">
                <p class="w-full truncate overflow-hidden whitespace-nowrap">
                    {{item.endDate | date : 'dd-MM-YYYY HH:mm' : tz}}
                </p>
            </div>
            <div class="justify-center">
                <p class="w-full truncate overflow-hidden whitespace-nowrap">
                    {{item.sub_event[0].EventParticipant.length}}/{{item.max_attendees}}
                </p>
            </div>
            <div class="grid-cols-[auto_auto_auto] gap-2 justify-center">
                <div (click)="qrcode = item.sub_event[0].qrcode;event_name = item.title"
                    class="w-[32px] cursor-pointer grid justify-center items-center aspect-square border-[1px] border-[#999] rounded-[8px]">
                    <img src="qr.svg" class="w-[18px] aspect-square">
                </div>
                <div (click)="api.toEdit('/admin/event-update',item.id)"
                    class="w-[32px] cursor-pointer grid justify-center items-center aspect-square border-[1px] border-[#999] rounded-[8px]">
                    <img src="edit.svg" class="w-[18px] aspect-square">
                </div>
                <div (click)="delete_id = item.id"
                    class="w-[32px] cursor-pointer grid justify-center items-center aspect-square border-[1px] border-red-600 rounded-[8px]">
                    <img src="delete.svg" class="w-[26px] aspect-square">
                </div>
            </div>
        </div>
        <div *ngIf="data.length != 0" class="flex h-[78px] px-5 justify-center items-center">
            <div class="flex-1 text-[16px]">
                <p>หน้า {{page_no+1}} จาก {{data_size}}</p>
            </div>
            <div class="flex gap-2 text-[14px] select-none text-[#999]">
                <img src="arrow-left.svg" (click)="updatePage(page_no-1)" class="cursor-pointer invert-[60%]">
                <div class="flex gap-1">
                    <div *ngFor="let num of getPageArray(); let i = index;" (click)="updatePage(num)"
                        [style]="num == page_no ? 'background-color: #1093ED;color:#fff':''" class="cursor-pointer grid justify-center items-center border-[1px] rounded-[4px] w-[28px] aspect-square
                        hover:bg-[#EBF5FD]">
                        <p>
                            {{num+1}}
                        </p>
                    </div>
                </div>
                <img src="arrow-right.svg" (click)="updatePage(page_no+1)" class="cursor-pointer invert-[60%]">
            </div>
        </div>
    </div>
    <!-- delete -->
    <div *ngIf="qrcode != '' || delete_id != null"
        class="absolute top-0 right-0 w-full h-full bg-[#00000033] flex justify-center items-center">
        <!-- delete -->
        <div *ngIf="delete_id != null"
            class="absolute z-10 grid gap-6 justify-center items-center select-none py-[32px] px-[64px] shadow-[0_4px_4px_#00000040] rounded-[16px] bg-white">
            <div class="flex justify-center">
                <div class="grid justify-center items-center w-[40px] aspect-square bg-[#FFE5E5] rounded-[16px]">
                    <img src="delete.svg" alt="">
                </div>
            </div>
            <div class="text-center">
                <p class="text-[16px] font-medium">คุณแน่ใจหรือไม่ว่าต้องการลบข้อมูลนี้</p>
                <p class="text-[14px] text-[#999]">การดำเนินการนี้ไม่สามารถย้อนกลับได้</p>
            </div>
            <div class="flex gap-2 justify-center items-center">
                <button class="text-white bg-red-600 text-[12px] rounded-[8px] px-4 py-1" (click)="deleteEvent()">
                    Delete
                </button>
                <button (click)="delete_id = null"
                    class="border-[1px] border-[#999999] text-[#999999] bg-white text-[12px] rounded-[8px] px-4 py-1">
                    Cancel
                </button>
            </div>

        </div>
        <!-- qrcode -->
        <div *ngIf="qrcode != ''" class="absolute z-10 grid justify-center w-[343px] min-h-[400px] bg-white p-[48px]
            rounded-[16px] text-center">
            <div class="grid grid-cols-1 justify-center">
                <p class="text-[#1093ED] font-bold text-[24px]">Scan QR Code</p>
                <p class="text-[#999] text-[14px] font-medium whitespace-pre-wrap break-words">
                    {{ event_name }}
                </p>
                <div #qrContainer>
                    <qrcode [qrdata]="qrcode" [width]="180" [errorCorrectionLevel]="'M'"
                        class="h-fit grid justify-center">
                    </qrcode>
                </div>
            </div>
            <button (click)="downloadQRCode()"
                class="h-[40px] flex justify-center items-center gap-3 bg-[#1093ED] text-white font-semibold text-center rounded-[12px]">
                <div class="grid items-center pb-[7px]">
                    <img src="download.svg" class="w-[14px] aspect-square">
                </div>
                <p>Download</p>
            </button>
        </div>
        <div class="absolute z-0 top-0 left-0 w-full h-full" (click)="qrcode = '';">
        </div>

    </div>
</div>