<div class="w-screen h-screen grid justify-center items-center">
    <div class="grid justify-center items-center gap-5">
        <p class="text-[40px] font-semibold text-center">
            Forgot password?
        </p>
        <p class="text-[#999999] text-[20px] font-semibold text-center">
            It's okay! We’ll send reset instructions to your email.
        </p>
        <div class="grid gap-6 pt-6">
            <div class="grid gap-2">
                <label for="email">Email</label>
                <input type="text" id="email" [(ngModel)]="email" placeholder="Email"
                    class="border-[1px] rounded-[16px] h-[48px] w-[575px] px-[16px] text-[20px]">
            </div>
            <input type="button" (click)="reset_password()" class="border-[1px] rounded-[16px] h-[48px] w-[575px] px-[16px] text-[20px] text-center p-[4px] bg-[#1093ED] text-white
            select-none cursor-pointer" value="Reset password">
        </div>
        <div class="flex justify-center pt-5">
            <div class="flex gap-3 cursor-pointer" (click)="goToLink('/login')">
                <img src="arrow-left.svg">
                Back to log in
            </div>
        </div>

    </div>
</div>