<div class="w-full h-[115px] p-4 px-[48px] text-[32px] font-bold grid items-center">
    Dashboard
</div>
<div *ngIf="dashboard_total.length != 0;else noData" class="flex h-[125px] gap-10 px-10">
    <div *ngFor="let item of dashboard_total"
        class="w-[280px] px-6 flex gap-6 justify-center items-center border-[#D9D9D9] border-[1px] shadow-[0_5px_4px_rgba(0,0,0,0.25)] rounded-[16px]">
        <div class="w-[80px] aspect-square bg-[#EBF5FD] flex justify-center items-center rounded-[24px]">
            <img src="graph-up.svg" class="w-[40px] aspect-square">
        </div>
        <div class="flex-1 grid justify-end">
            <p class="font-semibold text-[#999]">{{item.title}}</p>
            <span class="text-[#1E1E1E] font-semibold text-[32px] text-end">
                {{item.count}}
            </span>
        </div>
    </div>
</div>
<ng-template #noData>
    <div class="flex h-[125px] gap-10 px-10">
        <div *ngFor="let item of repeatTimes; let i = index"
            class="animate-pulse bg-slate-50 w-[280px] px-6 flex gap-6 justify-center items-center border-[#D9D9D9] border-[1px] shadow-[0_5px_4px_rgba(0,0,0,0.25)] rounded-[16px]">
            <div class="w-[80px] aspect-square bg-[#EBF5FD] flex justify-center items-center rounded-[24px]">
                <img src="graph-up.svg" class="w-[40px] aspect-square">
            </div>
            <div class="flex-1 grid justify-end">
            </div>
        </div>
    </div>
</ng-template>
<div>
    <div class="flex p-10 text-[#1093ED] font-bold gap-4">
        <div (click)="setPath('event')" class="cursor-pointer"
            [style]="path == 'event' ? 'text-decoration-line: underline;':'color: #999999;'">Top
            Event</div>
        <div (click)="setPath('reward')" class="cursor-pointer"
            [style]="path == 'reward' ? 'text-decoration-line: underline;':'color: #999999;'">
            Top Reward
        </div>
    </div>
    <div class="relative overflow-hidden">
        <div class="w-full h-[700px]">
            <app-event-management *ngIf="path == 'event'" [routeScreen]="true"></app-event-management>
            <app-reward-management *ngIf="path == 'reward'" [routeScreen]="true"></app-reward-management>
        </div>
    </div>
</div>