<div class="bg-gradient-to-b from-[#e3eeff] to-[#f3f3f3] fixed h-screen w-screen">
    <div class="bg-[#fff] absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] 
        aspect-[6/4] w-[655px] pt-[30px] pb-[48px] rounded-[24px] border-[0.5px]
        grid items-center justify-center">
        <p class="text-[40px] font-semibold text-black text-center">Welcome Back!</p>
        <div class="grid">
            <label for="username">Username</label>
            <input type="text" id="username" [(ngModel)]="login.email" placeholder="Username"
                class="border-[1px] rounded-[16px] h-[48px] w-[575px] px-[16px] text-[20px]">
        </div>
        <div class="grid">
            <label for="password">Password</label>
            <input type="password" id="password" [(ngModel)]="login.password" placeholder="Password"
                class="border-[1px] rounded-[16px] h-[48px] w-[575px] px-[16px] text-[20px]">
        </div>

        <div class="flex px-4">
            <div class="flex-1 text-black">
                <input type="checkbox" id="keep_me" [(ngModel)]="keep_me">
                <label for="keep_me" class="px-[12px] select-none">Remember me</label>
            </div>
            <div class="underline text-[#1093ED] cursor-pointer" (click)="goToLink('/forgot-password')">Forgot password?
            </div>
        </div>
        <div (click)="AuthLogin()" class="border-[1px] rounded-[16px] h-[48px] w-[575px] px-[16px] text-[20px] text-center p-[4px] bg-[#1093ED] text-white
            select-none cursor-pointer">
            Login
        </div>
    </div>

</div>