<div class="flex h-[72px] py-3 px-12" style="box-shadow: 0 4px 4px #00000040;">
  <div class="flex h-full items-center gap-3">
    <div class="h-full aspect-square bg-black rounded-[50%] p-1">
      <img src="profile.png" class="h-full">
    </div>
    <p class="truncate font-medium text-base" style="color: #2E3192;">THE ECONOMIC REPORTERS ASSOCIATION</p>
  </div>
  <div class="w-full">

  </div>
  <div class="flex justify-end items-center h-full">
    <div class="flex gap-3 h-full">
      <div class="h-full aspect-square bg-black rounded-[50%] p-1">
        <img src="profile.png" class="h-full">
      </div>
      <div class="w-[130px]">
        <p class="truncate font-medium text-sm">position</p>
        <p class="truncate font-normal text-sm">Full name</p>
      </div>
      <div>
        <button class="h-full aspect-square bg-black rounded-[50%] grid justify-center items-center hover:bg-red-300">
          <img src="logout.png" class="h-1/2">
        </button>
      </div>
    </div>
  </div>
</div>
<div class="grid grid-cols-[auto_1fr] min-h-[calc(100vh-72px)]">
  <div class="w-[230px] py-6 border-r border-r-[#16223B33]">
    <div class="grid gap-3 grid-rows-[repeat(10,50px)] p-3">

      <div class="dashboard-btn" (click)="goToLink('/dashboard')" [style]="path == '/dashboard' ?active:''">
        <div class="dashboard-inner">
          <img src="profile.png" class="dashboard-img">
          <p>Dashboard</p>
        </div>
      </div>

      <div class="dashboard-btn" (click)="goToLink('/event')" [style]=" path=='/event' ?active:''">
        <div class="dashboard-inner">
          <img src="profile.png" class="dashboard-img">
          <p>กิจกรรม (Event)</p>
        </div>
      </div>
      <div class="dashboard-btn" (click)="goToLink('/news')" [style]=" path=='/news' ?active:''">
        <div class="dashboard-inner">
          <img src="profile.png" class="dashboard-img">
          <p>ข่าวสารประชาสัมพันธ์</p>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3">
    {{path}}
    {{menu}}
    <router-outlet />
  </div>
</div>