<div class="min-w-full min-h-full px-[48px]">
    <div class="w-full h-[150px] grid items-center grid-cols-2">
        <div>
            <p class="text-[32px] font-bold">
                Scanner
            </p>
            <p class="text-[#1093ED] text-[16px] font-medium underline">

            </p>
        </div>
    </div>
    <div class="flex gap-2 h-[calc(100vh-200px)]">
        <div class="rounded-[16px] py-6 px-4 bg-[#F2F2F4] flex-1 border-[#D9D9D9] text-[#999999]">
            <p>Scan History</p>
            <div class="grid gap-3 py-3">
                <div *ngFor="let item of list"
                    class="h-[112px] bg-white grid grid-cols-[auto_1fr_auto] px-4 gap-7 items-center rounded-[12px] border-[#D9D9D9] border-[1px] border-t-0">
                    <div
                        class="relative bg-[#D9D9D9] h-[80px] aspect-[4/3] rounded-[16px] grid justify-center overflow-hidden">
                        <img *ngIf="item.Reward.img" [src]="getImg(item.Reward.img)"
                            class="h-[80px] object-cover aspect-[4/3]">
                        <img *ngIf="!item.Reward.img" src="image.svg" class="w-[60px]">
                    </div>
                    <div class="grid grid-rows-[20px] gap-3 w-full">
                        <p class="flex-row">
                            {{item.Profile.profile_name}}
                        </p>
                        <p class="flex-1">
                            {{item.Reward.reward_name}}
                        </p>
                    </div>
                    <div class="grid items-center">
                        <p>
                            {{item.createdAt | date : 'dd - MM - YYYY'}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="w-[30%] min-w-[450px] grid grid-rows-[auto_auto_1fr] gap-3">
            <div (click)="scan.focus();barcode = '';noData = false"
                class="select-none cursor-pointer flex justify-center items-center h-[56px] rounded-[12px] bg-gradient-to-b from-[#1E54FD] to-[#0ACCF5] text-white">
                <div class="flex justify-center items-center gap-2" [ngClass]="{'animate-pulse': scanning}">
                    <img src="scan.svg" class="w-[16px] filter invert brightness-0">
                    <p>
                        {{scanning? 'Scanning...':'Open Scan'}}
                    </p>
                </div>
                <input #scan type="text" class="fixed -z-10" (keydown.enter)="onBarcodeScanned($event)"
                    (focus)="scanning = true" (blur)="scanning = false" placeholder="Scan barcode here">
            </div>
            <div class="grid grid-cols-[1fr_auto] gap-2">
                <div class="flex flex-row items-center gap-2 p-4 bg-gray-100 rounded-lg shadow-md w-full">
                    <input type="text" placeholder="Enter barcode.." [(ngModel)]="barcode"
                        (focus)="barcode_focus = true" (blur)="barcode_focus = false;"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" (input)="getRedeem();" maxlength="10"
                        class="flex-1 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" />
                    <input type="button" value="Submit" (click)="submitRedeem()"
                        class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 cursor-pointer" />
                </div>
                <div class="flex flex-row items-center gap-2 p-4 bg-gray-100 rounded-lg shadow-md w-full">
                    <input type="button" value="Camera Scan" (click)="openScan()"
                        class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 cursor-pointer" />
                </div>
            </div>


            <div class="py-6 px-4 rounded-[16px] bg-[#F2F2F4] border-[#D9D9D9] overflow-hidden">
                <p class="text-[#1093ED]">
                    Scan Information
                </p>
                <div *ngIf="data_scan != null" class="rounded-[16px] w-full min-h-[270px] bg-white p-6 grid gap-4">
                    <div class="grid grid-rows-2 border-dashed border-0 border-b-[1px] border-[#D9D9D9]">
                        <div class="grid grid-cols-2 ">
                            <div>
                                บัญชีผู้ใช้
                            </div>
                            <div class="text-end">
                                {{data_scan.profile_name}}
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                วันที่แลกรับสิทธิ์
                            </div>
                            <div class="text-end">
                                {{data_scan.date | date :'dd MMMM YYYY' : 'th-TH'}}
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-rows-3">
                        <div class="grid grid-cols-2">
                            <div>
                                ชื่อสินค้า
                            </div>
                            <div class="text-end">
                                สินค้า
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                คะแนนทั้งหมดที่มี
                            </div>
                            <div class="text-end">
                                {{data_scan.totalPoints}}
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                คะแนนที่ใช้
                            </div>
                            <div class="text-end">
                                {{data_scan.usedPoints}}
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                คะแนนคงเหลือ
                            </div>
                            <div class="text-end">
                                {{data_scan.remainingPoints()}}
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="(scanning || barcode_focus) && data_scan == null  || noData"
                    class="relative overflow-hidden rounded-[16px] w-full h-[270px] bg-white p-6 grid gap-4">
                    <div *ngIf="noData"
                        class="absolute w-full h-full bg-slate-400 text-white z-10 top-0 left-0 grid justify-center items-center">
                        <p>ไม่พบข้อมูล</p>

                    </div>
                    <div class="grid grid-rows-2 border-dashed border-0 border-b-[1px] border-[#D9D9D9]">
                        <div class="grid grid-cols-2 ">
                            <div>
                                บัญชีผู้ใช้
                            </div>
                            <div class="flex justify-end">
                                <p class="animate-pulse bg-slate-500 w-[80%] h-[14px]"></p>
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                วันที่แลกรับสิทธิ์
                            </div>
                            <div class="flex justify-end">
                                <p class="animate-pulse bg-slate-500 w-[80%] h-[14px]"></p>
                            </div>
                        </div>
                    </div>
                    <div class="grid grid-rows-3">
                        <div class="grid grid-cols-2">
                            <div>
                                ชื่อสินค้า
                            </div>
                            <div class="flex justify-end">
                                <p class="animate-pulse bg-slate-500 w-[80%] h-[14px]"></p>
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                คะแนนทั้งหมดที่มี
                            </div>
                            <div class="flex justify-end">
                                <p class="animate-pulse bg-slate-500 w-[80%] h-[14px]"></p>
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                คะแนนที่ใช้
                            </div>
                            <div class="flex justify-end">
                                <p class="animate-pulse bg-slate-500 w-[80%] h-[14px]"></p>
                            </div>
                        </div>
                        <div class="grid grid-cols-2">
                            <div>
                                คะแนนคงเหลือ
                            </div>
                            <div class="flex justify-end">
                                <p class="animate-pulse bg-slate-500 w-[80%] h-[14px]"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <ng-container>
                    <div class="h-[112px] rounded-[12px] border-[#D9D9D9]">
                        <img src="image.svg" class="w-[80px]">
                    </div>
                </ng-container> -->
            </div>
        </div>

    </div>
    <div class="absolute w-[50vw] h-full top-0 left-0 z-50 bg-black opacity-70">

        <!-- <div class="scanner-sheel" [hidden]="!hisDevices">
            <header>
                <select (change)="onDeviceSlectChange($event.target.value)" name="" id="">
                    <option value="" [selected]="!currentDevice">No Device Selected</option>
                    <option [selected]="currentDevice && device.deviceId === currentDevice.deviceId" </option>
                </select>
            </header>
        </div>

        <zxing-scanner #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)">
        </zxing-scanner>

        <section class="results" *ngIf="qrResultString">
            <small>Result</small>
            <strong>{{ qrResultString}}</strong>
        </section> -->


        <select (change)="onDeviceSelectChange($event)">
            <option *ngFor="let cam of availableDevices" [value]="cam.deviceId">
                {{ cam.label || 'Unnamed Camera' }}
            </option>
        </select>

        <zxing-scanner #scanner [device]="currentDevice" (camerasFound)="onCamerasFound($event)"
            (scanSuccess)="handleQrCodeResult($event)" (scanError)="onScanError($event)">
        </zxing-scanner>

    </div>
</div>