<div class="relative">
    <div class="px-[1in] py-[0.5in] sticky top-0 bg-[#F2F2F4]">
        <p class="text-[32px] font-bold bg-gradient-to-b from-[#1E54FD] to-[#0ACCF5] bg-clip-text text-transparent">
            นโยบามความเป็นส่วนตัว</p>
    </div>

    <div class="px-[1in] pt-[0.5in] discription">
        <p>1. บทนำ</p>
        <ul class="list-none pl-4">
            <li class="pl-4">บริการของเรา ให้ความสำคัญกับความเป็นส่วนตัวของผู้ใช้ รวมถึงผู้ดูแลระบบ</li>
            <li>นโยบายนี้อธิบายถึงวิธีที่เราเก็บรวบรวมใช้ เปิดเผย และปกป้องข้อมูลของทั้งผู้ใช้ทั่วไป</li>
            <li>และแอดมินเมื่อใช้บริการของเรา</li>
        </ul>
        <p>2. ข้อมูลที่เราเก็บรวบรวม</p>
        <span class="pl-4">เมื่อคุณใช้บริการของเราอาจเก็บข้อมูลต่อไปนี้:</span>
        <ul class="list-disc pl-12">
            <li>ข้อมูลบัญชี: ชื่อผู้ใช้ อีเมล</li>
            <li>ข้อมูลธุรกรรม: ประวัติการสะสมและแลกแต้ม</li>
            <li>ข้อมูลอุปกรณ์: หมายเลขอุปกรณ์ ระบบปฏิบัติการ ประเภทเบราว์เซอร์</li>
            <li>ข้อมูลตำแหน่งที่ตั้ง เพื่อให้บริการที่เกี่ยวข้องกับสถานที่</li>
            <li>ข้อมูลสำหรับแอดมิน: ระดับสิทธิ์การเข้าถึง ระบบบันทึกกิจกรรม (Log) และข้อมูลการจัดการระบบ</li>
        </ul>
        <p>3. วิธีการใช้ข้อมูล</p>
        <span class="pl-4">เราใช้ข้อมูลของคุณเพื่อ:</span>
        <ul class="list-disc pl-12">
            <li>จัดการบัญชีและให้บริการสะสมแต้ม</li>
            <li>ปรับปรุงประสบการณ์การใช้งานแอปฯ</li>
            <li>ป้องกันการฉ้อโกงและเพิ่มความปลอดภัย</li>
            <li>วิเคราะห์ข้อมูลเพื่อพัฒนาฟีเจอร์และประสิทธิภาพของแอปฯ</li>
            <li>บันทึกและตรวจสอบกิจกรรมของแอดมินเพื่อป้องกันการใช้งานที่ไม่เหมาะสม</li>
        </ul>

        <p>4. การรักษาความปลอดภัยของข้อมูล</p>
        <span class="pl-4">เราใช้มาตรการรักษาความปลอดภัยที่เหมาะสมเพื่อป้องกันการเข้าถึง ใช้
            หรือเปิดเผยข้อมูลโดยไม่ได้รับอนุญาต ซึ่งรวมถึง
        </span>
        <ul class="list-disc pl-12">
            <li>การเข้ารหัสข้อมูล</li>
            <li>การจำกัดสิทธิ์การเข้าถึงข้อมูลเฉพาะบุคลากรที่เกี่ยวข้อง</li>
            <li>การสำรองข้อมูลเพื่อป้องกันการสูญหาย</li>
            <li>การตรวจสอบกิจกรรมของแอดมินเพื่อป้องกันการละเมิดสิทธิ์การเข้าถึง</li>
        </ul>
        <p>5. สิทธิของผู้ใช้และแอดมิน</p>
        <span class="pl-4">คุณมีสิทธิ์ในการเข้าถึง แก้ไข หรือลบข้อมูลส่วนบุคคลของคุณ รวมถึง</span>
        <ul class="list-disc pl-12">
            <li>ขอสำเนาข้อมูลส่วนบุคคลของคุณ</li>
            <li>แก้ไขข้อมูลที่ไม่ถูกต้องหรือไม่สมบูรณ์</li>
            <li>ขอให้ลบข้อมูลส่วนบุคคลของคุณ</li>
            <li>เพิกถอนความยินยอมในการใช้ข้อมูลของคุณในบางกรณี</li>
            <li>แอดมินสามารถเข้าถึงและจัดการข้อมูลระบบได้ตามระดับสิทธิ์ที่ได้รับอนุญาต</li>
        </ul>

        <p>7. คุกกี้และเทคโนโลยีติดตาม</p>
        <ul class="list-none pl-4">
            <li>แอปฯ อาจใช้คุกกี้หรือเทคโนโลยีติดตามอื่น ๆ เพื่อพัฒนาประสบการณ์ของผู้ใช้</li>
            <li>คุณสามารถจัดการหรือลบคุกกี้ได้ผ่านการตั้งค่าของอุปกรณ์หรือเบราว์เซอร์ของคุณ</li>
        </ul>
        <p>8. การเปลี่ยนแปลงนโยบาย</p>
        <ul class="list-none pl-4">
            <li>เราอาจอัปเดตนโยบายนี้เป็นครั้งคราว กรุณาตรวจสอบการเปลี่ยนแปลงบนแอปฯ ของเรา</li>
            <li>หากมีการเปลี่ยนแปลงสำคัญ เราจะแจ้งให้คุณทราบล่วงหน้า</li>
        </ul>
    </div>
</div>