<div class="w-screen h-screen grid justify-center items-center">
    <div class="grid justify-center items-center gap-5">
        <p class="text-[20px] sm:text-[40px] font-semibold text-center">
            Set new password
        </p>
        <div class="flex justify-center">
            <p class="text-[#999999] text-[14px] sm:text-[20px] w-[70%] sm:w-full font-semibold text-center">
                Please enter your current password and a new password.
            </p>
        </div>
        <div class="grid justify-center gap-3 sm:gap-6 sm:pt-6">
            <div class="grid gap-2">
                <label for="password">Password</label>
                <input type="password" id="password" [(ngModel)]="newPassword" placeholder="Password"
                    class="border-[1px] rounded-[16px] h-[48px] w-[330px] sm:w-[575px] px-[16px] text-[20px]">
            </div>
            <div class="grid gap-2">
                <label for="confirm_password">Confirm password</label>
                <input type="password" id="confirm_password" [(ngModel)]="confirmPassword"
                    placeholder="Confirm password"
                    class="border-[1px] rounded-[16px] h-[48px] w-[330px] sm:w-[575px] px-[16px] text-[20px]">
            </div>
            <input type="button" (click)="!active && resetPassword()" class="border-[1px] rounded-[16px] h-[48px] w-[330px] sm:w-[575px] px-[16px] text-[20px] text-center p-[4px] bg-[#1093ED] text-white
            select-none cursor-pointer" value="Reset password">
        </div>
        <div class="flex justify-center pt-2 sm:pt-5">
            <div class="flex gap-3 cursor-pointer" (click)="api.goToLink('/login')">
                <img src="arrow-left.svg">
                Back to log in
            </div>
        </div>

    </div>
</div>